<div class="table-container">
    <h1>Transactions Overview</h1>
    <form>
        <input type="hidden" name="order" value="{{ order }}"/>
        <button>Sort By Email</button>
    </form>
    <table class="transaction-table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Receipt Number</th>
                <th>Name</th>
                <th>User email</th>
                <th>Transactions</th>
                <th>Subtotal</th>
                <th>Tax</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {{#each data.transactions}}
                <tr>
                    <td>{{date}}</td>
                    <td>{{trx_num}}</td>
                    <td>{{name}}</td>
                    <td>{{email}}</td>

                    <td>
                        {{#if lessons}}
                            {{lessons.length}} Lesson(s)
                            {{!-- <table class="lesson-table">
                                <tr>
                                    <th>Name</th>
                                    <th>Cost</th>
                                </tr>
                                {{#each lessons}}
                                <tr>
                                    <td>{{name}}</td>
                                    <td>{{cost}}</td>
                                </tr>

                                {{/each}}
                            </table> --}}
                        {{else}}
                            Membership fee
                        {{/if}}
                    </td>
                    <td class="currency">{{{currency subtotal}}}</td>
                    <td class="currency">{{{currency tax}}}</td>
                    <td class="currency">{{{currency total}}}</td>

                </tr>
            {{else}}
                <tr>
                    <td colspan="8">No Record founded</td>
                </tr>
            {{/each}}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">Total:</td>
                <td class="currency">{{{currency data.subtotal}}}</td>
                <td class="currency">{{{currency data.tax}}}</td>
                <td class="currency">{{{currency data.total}}}</td>
                
            </tr>
        </tfoot>
    </table>
</div>